header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    padding: 10px 20px;
    border-bottom: 10px solid var(--color-black-first);
}

img {
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    text-shadow: 2px 2px 0 var(--color-black-first);
    color: var(--color-third);
}

.link, #button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 30px;
    font-family: "Fira Code", monospace;
    font-size: 20px;
    color: var(--color-third);
}

.link::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--color-first);
    margin-right: 10px;
}

.link::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 50%;
    background-color: #fff;
    border-radius: 3px;
}

.link:hover::after {
    content: "";
    width: calc(100% - 20px);
    left: 20px;
    transition: all 0.3s ease-out;
}

#button {
    display: inline-block;
    height: 60px;
    background-color: var(--color-first);
    margin-right: 0;
    padding: 0 20px;
    box-shadow: 5px 5px 0 var(--color-black-first);
    line-height: 60px;
    transition: all 0.3s;
}

#button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 2px var(--color-black-first);
    text-shadow: 2px 2px 0 var(--color-black-first);
}