:root {
    --color-first: #FF8600;
    --color-second: #26537E;
    --color-third: #ffffff;
    --color-black-first: #000000;
    --color-black-second: #3F4144;
    --color-black-third: #7E8287;
    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-sucess: #62C370;
}