.action-button {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0 var(--color-black-first);
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: var(--color-third);
    transition: all 0.3s;
}

.action-button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 2px var(--color-black-first);
    text-shadow: 2px 2px 0 var(--color-black-first);
}