.language-skill {
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 90px;
}

.language-skill:nth-child(odd) {
    margin-right: 100px;    
}

.language-skill .icon {
    width: 90px;
    height: 90px;
    transition: transform 0.3s;
}

.language-skill .icon:hover {
    transform: scale(1.05);
}

.language-skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.language-skill .title {
    margin-bottom: 16px;
    font-family: var(--font-second);
    font-size: 25px;
    color: var(--color-third);
}