.logo {
    box-shadow: 5px 5px 0 var(--color-black-first);
    font-family: var(--font-second);
    font-size: 20px;
    text-shadow: 2px 2px 0 var(--color-black-first);
    color: var(--color-third);
}