.main-title {
    margin-bottom: 28px;
    font-family: var(--font-second);
    font-size: 40px;
    text-shadow: 4px 4px 0 var(--color-black-first);
    color: var(--color-first);
}

.main-title.-second {
    color: var(--color-third);
    text-shadow: none;
    text-align: center;
}