.menu-icon {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/images/menu-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert();
    image-rendering: pixelated;
}