.skill-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 960px;
    height: 480px;
    margin: auto;
    padding-top: 50px;
}

.skill {
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 90px;
    margin-bottom: 40px;
}

.skill .icon {
    width: 90px;
    height: 90px;
    transition: transform 0.3s;
}

.skill .icon:hover {
    transform: scale(1.05);
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill .title {
    margin-bottom: 16px;
    font-family: var(--font-second);
    font-size: 25px;
    color: var(--color-third);
}