.skill-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 960px;
    height: 480px;
    margin: auto;
    padding-top: 150px;
}

.skill {
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 90px;
    margin-bottom: 40px;
}

.skill-logo {
    width: 90px;
    height: 90px;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
}

.skill-name {
    margin-bottom: 16px;
    font-family: var(--font-second);
    font-size: 25px;
    color: var(--color-third);
}

.skill-level {
    width: 320px;
    height: 40px;
    background-color: var(--color-second);
    border: 5px solid var(--color-black-first);
}