.submit-button {
    width: 100%;
    height: 50px;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0 var(--color-black-first);
    color: var(--color-third);
    font-size: 20px;
    transition: transform 0.2s;
}

.submit-button:hover {
    transform: scale(1.02);
    cursor: pointer;
}