h1, h2 {
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 4px 4px 0 var(--color-black-first);
}

h1 {
    margin-bottom: 28px;
    font-size: 40px;
    color: var(--color-first);
}

h2 {
    font-size: 30px;
    color: var(--color-third);
}